<div class="dashboard-wrapper">
    <header>
        <div class="header-top">
            <div class="left-content">
                <h3>{{ getWeekDay() }}</h3>
                <small><p>{{ date.getDate()}} {{ getMonth() }} {{ date.getFullYear() }}</p></small>
            </div>

            <div class="right-content">
                <div class="avatar-wrapper">
                    <div class="avatar-content">
                        <p>{{ user.name }}</p>
                        <small><p>{{ user.email }}</p></small>
                    </div>
                    <div class="avatar-icon">
                        <img src="./assets/avatar-icon.svg" alt="avatar icon">
                    </div>
                </div>
            </div>
        </div>

        <h1>{{ sectionPage }}</h1>
    </header>
    <ng-content></ng-content>
</div>