@import '../../../variables.scss';
.dashboard-wrapper{
    margin: 0 auto;
    width: 60%;
    padding-bottom: 20px;
    
    header{
        padding-top: 20px;
        .header-top{
            color: $gray-text;
            display: flex;
            flex-wrap: wrap-reverse;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            .right-content{
                .avatar-wrapper{
                    display: flex;
                    flex-wrap: wrap-reverse;
                    align-items: center;
                    gap: 10px;

                    .avatar-icon{
                        img{
                            width: 60px;
                        }
                    }
                    .avatar-content{
                        text-align: end;
                        p:first-child{
                            font-weight: 500;
                        }
                    }
                }
            }
            .left-content{
                h3{
                    margin-bottom: 10px;
                    font-weight: 400;
                }
            }
        }
    }
    h1{
        font-weight: 400;
        color: $primary;
        margin-bottom: 20px;
    }
}
@media (max-width:780px){
    .dashboard-wrapper{
        width: 80%;
    }
}
@media (max-width:500px){
    header{
        text-align: center;
        .header-top{
            flex-direction: column-reverse;
            .right-content{
                .avatar-wrapper{
                    flex-direction: column-reverse;
                    .avatar-content{
                        text-align: center;
                    }
                }
            }
            .left-content{
                text-align: center;
            }
        }
    }
}