<div class="dashboard-wrapper">
    <header>
        <div class="header-top">
            <div class="left-content">
                <h3>Segunda-feira</h3>
                <small><p>27-07-2025</p></small>
            </div>

            <div class="right-content">
                <div class="avatar-wrapper">
                    <div class="avatar-content">
                        <p>Nelson Dos Santos</p>
                        <small><p>nelsonemail.com</p></small>
                    </div>
                    <div class="avatar-icon">
                        <img src="./assets/avatar-icon.svg" alt="avatar icon">
                    </div>
                </div>
            </div>
        </div>

        <h1>Dashboard</h1>
    </header>
    <ng-content></ng-content>
</div>