@import '../../../variables.scss';
input{
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: $light-gray-bg;
    color: $gray-text;
    outline-color: lightgray;

    &.white{
        background-color: white;
    }
}