@import '../../../variables.scss';
.login-wrapper{
    width: 100%;
    min-height: 100dvh;
    max-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .login{
        box-shadow: 0px 0px 6px lightgray;
        width: 70dvw;
        padding: 100px 100px;
        background-color: white;
        display: inherit;
        align-items: center;
        justify-content: center;
        gap: 15%;
        .form-section{
            width: 40%;
            text-align: center;
            .logo{
                display: flex;
                justify-content:center;
                align-items: center;
                gap: 5px;
            }
            h3,p{
                color: $gray-text;
                font-weight: 400;
            }
            p{
                margin:18px 0;
                color: $gray-text;
                font-weight: 300;
            }
        }
        .ilustration{
            width: 60%;
            img{
                max-width: 80%;
            }
        }
    }
}

@media (max-width:900px){
    .ilustration{
        display: none;
    }
    .form-section{
        flex-grow: 1;
    }
}
@media (max-width:550px){
    .login-wrapper{
        .login{
            padding: 20px;
        }
    }
}