@import '../../../_variables.scss';
app-card{
    .task-content{
        color: $gray-text;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        justify-content: space-between;
        .left{
            p{
                margin-top: 5px;
            }
            h3{
                font-weight: 500;
            }
        }
    }
    .primary{
        color: $primary;
        font-weight: 600;
    }
    hr{
        margin: 15px 0;
    }
}