<app-card [targetLink]="'/task-details'">
    @if(taskModel.IsFocused){
        <small><p class="primary">Tarefa em destaque</p></small>
    }
    <div class="task-content">
        <div class="left">
            <h3>{{ taskModel.Title }}</h3>
            <small><p>Criado em: {{ taskModel.CreatedAt.toLocaleDateString() }}</p></small>
        </div>
        @if(taskModel.ToFinishAt){
            <small><p class="primary">Concluir em: {{ taskModel.ToFinishAt }}</p></small>
        }
    </div>
    @if(showFocusedSubtask){
        <hr>
        <app-subtask></app-subtask>
    }
</app-card>