@import '../../app.scss';
form{
    display: flex;
    flex-direction: column;
    gap: 13px;

    .remember-section{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        label{
            font-weight: 400;
            color: $gray-text;
            font-size: 14px;
        }
        input{
            width: 15px;
            height: 15px;
        }
    }
}
.separator{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 18px 0;
    p{
        color: $gray-text;
        color:rgb(194, 194, 194);
    }
    .separator-row{
        flex-grow: 1;
        height: 1px;
        background-color: rgb(210, 210, 210);
    }
}