<header>
    <div class="left-content">
        <div class="date-section">
            <h2>Segunda-feira</h2>
            <small><p>17, Dez 2025</p></small>
        </div>
    </div>
    <div class="right-content">
        <small class="avatar">
            <div class="avatar-content">
                <h3>Nelson Dos Santos</h3>
                <p>examplegmail.com</p>
            </div>
            <div class="avatar-icon">
                <img src="./assets/user-avatar.svg" alt="user avatar icon">
            </div>
        </small>
    </div>
</header>
<h1>Dashboard</h1>
<ng-content></ng-content>