@import '../../../variables.scss';
.cards-wrapper{
    color: $gray-text;
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    .cards-top{
        display: inherit;
        flex-wrap: wrap;
        gap: inherit;
    }
    app-card{
        flex-grow: 1;
        font-weight: 500;
        p:first-child{
            margin-bottom: 6px;
            font-size: 18px;
        }
        p:nth-child(2){
            font-size: 24px;
        }
    }
    p.no-task-found{
        color: $gray-text;
        margin-top: 20px;
        text-align: center;
    }
}